
/*
  * 外面盒子样式---自己定义
  */

.page_div {
	margin-top: 10px;
	margin-bottom: 20px;
	font-size: 15px;
	font-family: "microsoft yahei";
	color: #666666;
	margin-right: 10px;
	padding-left: 20px;
	box-sizing: border-box;
}

/*页面样式 */

.qry-group>div>label{
	font-weight:normal;
}
#type,#title,.time>input{
	width:70%;
	height:25px;
	border:1px solid #3E4B7D;
	border-radius:4px;
}
.time>input{
  width:60%;
}
#title,.time>input{
	padding-left:5px;
}
.qry-group>div{
	padding:0!important;
	margin:5px 0;
}

.com-btn button{
	width:45%;
	height:30px;
	border:none;
	background:#3E4B7D;
	border-radius:4px;
	color:#fff;
}
.com-btn button:hover,#page>a:hover,
.table>tbody td>button:hover{
	border:1px solid #3E4B7D;
	background:#fff;
	color:#3E4B7D;
}
.show-table{
	margin-top:10px;
} 
.table>thead{
	background:#3E4B7D;
	color:#fff;
}
.table tr td{
	text-align:center;
}
.table>tbody>tr>td{
    vertical-align: middle;
}
.table>tbody>tr:hover{
	background:#ccc;
	cursor: pointer;
}
.table>tbody td>a:hover{
	color:#3E4B7D!important;
	text-decoration:underline;
	font-weight:bold;
}
.table>tbody td>button{
	padding:6px;
	color: #fff;
	font-size: 13px;
	border:none;
	border:1px solid #3E4B7D;
	background:#3E4B7D;
	border-radius:4px;
}
/*
 * 页数按钮样式
 */
#page{
	text-align:center;
}
#page>a{
	min-width: 30px;
	height: 28px;
	text-align: center;
	margin: 5px 4px;
	cursor: pointer;
	line-height: 28px;
	font-size: 13px;
	display: inline-block;
	background:#3E4B7D;
	border-radius:4px;
	color:#fff;
	border:1px solid #3E4B7D;
	text-decoration: none;
}

#firstPage,
#lastPage {
	width: 50px;
	border:1px solid #3E4B7D;
}

#prePage,
#nextPage {
	width: 70px;
	border:1px solid #3E4B7D;
}

.page_div .current {
	border:1px solid #3E4B7D!important;
	background:#fff!important;
	color:#3E4B7D!important;
}

.totalPages {
	margin: 0 10px;
}

.totalPages span,
.totalSize span {
	color: #0073A9;
	margin: 0 5px;
}
.add>button{
	width:80px;
	margin-bottom:15px;
}