<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.phoneshow.dao.OfficeDao">
	<insert id="insertOffice" parameterType="java.util.Map">
		INSERT INTO office
		(`id`,`title`,`type`,`url`,`content`,`date`,`server_path`,`original_name`,`download_name`)
		 VALUE(#{id},#{title},#{type},#{url},#{content},#{date},#{server_path},#{original_name},#{download_name})
	</insert>
	
	<sql id="queryOfficeWhere">
		<where>
			<if test="title != '' and title !=null">
				o.title like #{title}
			</if>
			<if test="type != '' and type !=null">
				and o.type = #{type}
			</if>
			<if test="start !='' and end !='' and start !=null and end !=null">
				and str_to_date(o.date,'%Y-%m-%d %H:%i')
 				BETWEEN str_to_date(#{start},'%Y-%m-%d %H:%i') 
				AND str_to_date(#{end},'%Y-%m-%d %H:%i') 
			</if>
		</where>
	</sql>
	<select id="selectOffice" parameterType="java.util.Map" resultType="java.util.Map">
		select * from office o
		<include refid="queryOfficeWhere"/>
		order by str_to_date(o.date,'%Y-%m-%d %H:%i') DESC
		<if test="pageno != null and pagesize !=null" >    		
			LIMIT #{pageno}, #{pagesize}
    	</if>
    	
	</select>
	
	<select id="getOfficeById" parameterType="java.lang.String" resultType="java.util.Map">
		select * from office o where o.id=#{id}
	</select>
	
	<select id="selectCount" parameterType="java.util.Map" resultType="java.lang.Integer">
		select count(*) from office o
		<include refid="queryOfficeWhere"/>
		order by str_to_date(o.date,'%Y-%m-%d-%H-%i-%s') DESC
		<if test="pageno != null and pagesize !=null" >    		
			LIMIT #{pageno}, #{pagesize}
    	</if>
	</select>
	<delete id="deleteById" parameterType="java.lang.String">
		DELETE FROM office WHERE id=#{id}
	</delete>
	<update id="updateOffice" parameterType="java.util.Map">
		UPDATE office o SET o.title=#{title} WHERE o.id=#{id}
	</update>
	<select id="getAllId" resultType="java.util.Map">
		<!-- SELECT id as id,download_name as fileName FROM office o WHERE o.type &lt;&gt; '3' -->
		SELECT
			id AS id,
			download_name AS fileName,
			case WHEN c.class_name is null THEN ''
			else c.class_name END as type
		FROM
			office o
		LEFT JOIN 
			class c ON o.class_Id = c.class_Id
		WHERE
			o.type &lt;&gt;'3'
	</select>
	<select id="getNameLike" parameterType="java.lang.String" resultType="java.util.Map">
		SELECT REVERSE(SUBSTR(REVERSE(o.original_name),LOCATE('.',REVERSE(o.original_name))+1)) 
		from office o
		WHERE o.original_name LIKE CONCAT(#{name},'%')
	</select>
	<select id="getNameCount" parameterType="java.lang.String" resultType="java.lang.Integer">
		SELECT COUNT(*) FROM office o WHERE o.original_name=#{name}
	</select>
</mapper>